@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bessemer-bold;
  src: url("../fonts/bessemer-bold.ttf");
}
@font-face {
  font-family: botanika-mono;
  src: url("../fonts/BotanikaMonoRegular.ttf");
}
@font-face {
  font-family: rubik-italic;
  src: url("../fonts/Rubik-Italic.ttf");
}
@font-face {
  font-family: rubik-mediumitalic;
  src: url("../fonts/Rubik-MediumItalic.ttf");
}
@font-face {
  font-family: planetkosmos;
  src: url("../fonts/planetkosmos.TTF");
}
@font-face {
  font-family: coolvetica;
  src: url("../fonts/coolvetica\ rg.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  font-family: "bessemer-bold", sans-serif;
}

.title,
.header {
  font-family: "coolvetica", sans-serif;
}

html,
body {
  min-height: 480px; /* Tamanho mínimo de altura */
}

@layer base {
  :root {
    /* Screens */
    --screen-mobile: 320px; /* Exemplo de valor */
    --screen-tablet: 768px;
    --screen-desktop: 1024px;
    --screen-tv: 1440px;

    /* Font Size */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-xxl: 24px;

    /* Title Font Size */
    --title-md: 40px;
    --title-lg: 48px;
    --title-xl: 56px;

    /*text-color*/
    --primary: 221, 240, 147;
  }
}
